// Main
$main-bg: #fff
$main-text: #303030
$max-width: 1316px
$padding-x: 16px
// Header
$header-logo-gold: #E1A661
$header-logo-gray: #919191
$navigation-bg: #F8F8F8
$menu-border: #F0F0F0
$search-placeholder: #A2A2A2
